/* #region container */
/* #endregion */
@keyframes bg-gradient-anim {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
/* #region Prefabs*/
.container--flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  padding-top: 4.75rem;
  border-bottom: #e11900 1px solid;
}

.container--flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  padding-top: 4.75rem;
  border-bottom: #e11900 1px solid;
}

.bg--grid-red {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(225, 26, 0, 0.1137254902) 1px, transparent 1px), linear-gradient(to bottom, rgba(225, 26, 0, 0.1137254902) 1px, transparent 1px);
}

.bg--grid-green {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(0, 225, 22, 0.1137254902) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 225, 22, 0.1137254902) 1px, transparent 1px);
}

.bg--grid-blue {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(0, 75, 225, 0.1137254902) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 75, 225, 0.1137254902) 1px, transparent 1px);
}

.bg--grid-yellow {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(225, 195, 0, 0.1137254902) 1px, transparent 1px), linear-gradient(to bottom, rgba(225, 195, 0, 0.1137254902) 1px, transparent 1px);
}

.bg--grid-violet {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(199, 154, 255, 0.1137254902) 1px, transparent 1px), linear-gradient(to bottom, rgba(199, 154, 255, 0.1137254902) 1px, transparent 1px);
}

.bg--gradient-dark {
  background-image: linear-gradient(45deg, #181818, #242424, #303030);
  background-size: 250%;
  background-position: left;
  animation: bg-gradient-anim 5s infinite alternate;
}

.bg--gradient-light {
  background-image: linear-gradient(45deg, rgba(87, 46, 169, 0.4588235294), rgba(116, 89, 169, 0.4588235294), rgba(189, 177, 213, 0.4588235294));
  background-size: 250%;
  background-position: left;
  animation: bg-gradient-anim 5s infinite alternate;
}

@keyframes translate-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes appear-in {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
/* #endregion */
/* BEM 

block-name__element-name

.block__elem--mod


*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

div {
  display: block;
  unicode-bidi: isolate;
}

@font-face {
  font-family: "Terminus (TTF)";
  src: url(../media/fonts/Terminus.ttf) format("truetype");
  font-display: swap;
}
body {
  font-family: Inconsolata, "Terminus (TTF)";
  background-color: #181818;
  color: #c6d4d4;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --page-title-length: 0;
  --page-line-length: 0;
}

.content {
  justify-content: flex-start;
  gap: 5vh;
}
.content__header-container {
  width: fit-content;
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 55px;
}
.content__header {
  font-family: "Terminus (TTF)";
  font-weight: 900;
  font-size: 2em;
  text-align: center;
  color: #e9bc29;
}
.content__subheader {
  font-family: Inconsolata;
  font-size: 1em;
  text-align: center;
  color: #4ff0f8;
}
.content__content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 3rem;
  margin-bottom: 50px;
  padding: 0 5px;
}

/* #region navbar */
.navbar {
  padding: 0;
}

.navbar-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 4.75rem;
  width: 100vw;
  z-index: 5;
  align-content: center;
  backdrop-filter: blur(2.4px);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0px;
}
.navbar-menu__content {
  display: grid;
  grid-template-areas: "hamburger steam";
  grid-template-columns: repeat(2, auto);
  height: 4.75rem;
  width: 100vw;
  align-items: center;
}
.navbar-menu__button {
  cursor: pointer;
  align-self: center;
  align-items: center;
  justify-content: center;
  border: none;
}
.navbar-menu__button--hamburger {
  display: flex;
  grid-area: hamburger;
  justify-self: flex-start;
  width: 4.75rem;
  height: 4.75rem;
  background: none;
}
.navbar-menu__button--hamburger:hover .navbar-menu__icon {
  filter: invert(55%) sepia(99%) saturate(439%) hue-rotate(351deg) brightness(100%) contrast(100%);
  width: 40px;
  height: 40px;
  transition: 0.2s;
}
.navbar-menu__button--steam {
  display: inline-flex;
  grid-area: steam;
  justify-self: flex-end;
  background: rgba(0, 0, 0, 0.3);
  border-left: 0.125rem solid;
  border-right: 0.125rem solid;
  padding: 0.875rem 1.5rem;
  margin-right: 1.25rem;
  gap: 0.75rem;
  font-family: "Terminus (TTF)";
  font-size: 1.125rem;
  color: #e9bc29;
}
.navbar-menu__icon-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.navbar-menu__list-container {
  height: 4.75rem;
  width: fit-content;
  display: none;
  align-items: center;
}
.navbar-menu__list-container--links {
  grid-area: links;
  margin-left: 2em;
}
.navbar-menu__list-container--socials {
  grid-area: socials;
  margin: 0px 50px;
}
.navbar-menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
}
.navbar-menu__list--links {
  gap: 2.5em;
}
.navbar-menu__list--socials {
  gap: 2rem;
}
.navbar-menu__item {
  width: fit-content;
  height: fit-content;
}
.navbar-menu__item :hover {
  color: #4ff0f8;
  transition: 0.2s;
}
.navbar-menu__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #c6d4d4;
  font-family: Inconsolata;
  font-size: x-large;
}
.navbar-menu__link--current {
  color: #e9bc29;
}
.navbar-menu__link--instagram:hover .navbar-menu__icon {
  fill: #ee2a7b;
}
.navbar-menu__link--github:hover .navbar-menu__icon {
  fill: white;
}
.navbar-menu__link--linkedin:hover .navbar-menu__icon {
  fill: #0e76a8;
}
.navbar-menu__icon {
  pointer-events: none;
  width: 30px;
  height: 30px;
  fill: #c6d4d4;
  transition: 0.25s;
}
.navbar-menu__icon--hidden {
  display: none;
}

.hamburger-menu {
  position: fixed;
  top: 4.75rem;
  height: 100%;
  width: 100vw;
  z-index: 6;
  overflow: hidden;
  border-top: #e11900 1px solid;
  backdrop-filter: blur(2.5px);
  background-color: rgba(0, 0, 0, 0.75);
}
.hamburger-menu--hidden {
  display: none;
}
.hamburger-menu__content {
  display: grid;
  grid-template-areas: "hamburger_links" "hamburger_socials";
  grid-template-rows: 2fr 1fr;
  width: 100%;
  height: 100vh;
}
.hamburger-menu__list-container {
  width: fit-content;
  height: fit-content;
}
.hamburger-menu__list-container--links {
  grid-area: hamburger_links;
  margin: 15px 0px;
}
.hamburger-menu__list-container--socials {
  grid-area: hamburger_socials;
  margin-top: 15px;
  justify-self: center;
}
.hamburger-menu__list {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0px;
}
.hamburger-menu__list--links {
  flex-direction: column;
  gap: 0.5em;
}
.hamburger-menu__list--socials {
  flex-direction: row;
  gap: 25px;
}
.hamburger-menu__item {
  width: fit-content;
  height: fit-content;
}
.hamburger-menu__item :hover {
  color: #e11900;
  transition: 0.15s;
}
.hamburger-menu__link {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0px;
}
.hamburger-menu__link--instagram :hover {
  fill: #ee2a7b;
}
.hamburger-menu__link--github :hover {
  fill: white;
}
.hamburger-menu__link--linkedin :hover {
  fill: #0e76a8;
}
.hamburger-menu__icon {
  width: 30px;
  height: 30px;
  fill: #c6d4d4;
  transition: 0.25s;
}
.hamburger-menu__button {
  width: fit-content;
  height: fit-content;
  margin-left: 15px;
}
.hamburger-menu__image {
  height: 45px;
  width: 20px;
}
.hamburger-menu__image--center {
  width: 22.5px;
}
.hamburger-menu__image--padding {
  width: 10px;
}
.hamburger-menu__text {
  position: absolute;
  margin-left: 15px;
  font-family: Inconsolata;
  font-size: 1.75rem;
  text-decoration: none;
  text-align: center;
  color: #e9bc29;
  margin-bottom: 0px;
}
.hamburger-menu__text--current {
  color: #4ff0f8;
}

/* #endregion */
.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
  max-height: fit-content;
  width: 100%;
  padding-top: 0;
  overflow: hidden;
}
.hero--background {
  position: absolute;
  filter: brightness(0.75);
  height: 100vh;
  width: 100%;
  z-index: -5;
}
.hero--background-video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.hero--content {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  width: 100%;
  height: fit-content;
  padding: 0px 15px;
}
.hero--content-header {
  font-family: "Terminus (TTF)";
  font-size: 2.75em;
  font-weight: 700;
  color: #e9bc29;
  width: fit-content;
}
.hero--content-subheader {
  font-family: Inconsolata;
  font-size: 1em;
  font-style: italic;
  color: #c6d4d4;
  width: fit-content;
}
.hero--content::after {
  --page-line-length: 270px;
  border: none;
  content: "";
  width: var(--page-line-length);
  height: 5px;
  background-color: #e9bc29;
  animation: line-stretch 0.5s;
}
.hero--current {
  margin-top: calc(4.75rem + 5vh);
  display: flex;
  width: fit-content;
  height: fit-content;
}
.hero--current-game {
  --page-title-length: 12;
}
.hero--current-shop {
  --page-title-length: 8;
}
.hero--current-media {
  --page-title-length: 9;
}
.hero--current-about {
  --page-title-length: 9;
}
.hero--current-text {
  font-family: "Terminus (TTF)";
  font-size: 1em;
  font-weight: 50;
  white-space: nowrap;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
  color: #4ff0f8;
  border-right: 2px solid;
  animation: typing 0.5s steps(var(--page-title-length)), blink 0.4s step-end infinite alternate;
}
.hero--card {
  width: 280px;
  height: 175px;
  align-self: center;
}
.hero--card-hidden {
  display: none;
}

@keyframes line-stretch {
  from {
    width: 0;
  }
  to {
    width: var(--page-line-length);
  }
}
/* cursor blink */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* typing */
@keyframes typing {
  from {
    width: 0;
  }
}
/* #region Contact */
.contact {
  padding: 4.75rem 10px 5rem 10px;
  row-gap: 8vh;
  justify-content: flex-start;
}
.contact__container {
  width: fit-content;
  height: fit-content;
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
}
.contact__input {
  font-family: Inconsolata;
  font-size: medium;
  width: 75vw;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  cursor: text;
  background-color: #c6d4d4;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(0, 225, 22, 0.1137254902) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 225, 22, 0.1137254902) 1px, transparent 1px);
  background-size: 15px 15px;
  animation: appear-in linear;
  animation-timeline: view();
  animation-range: entry 0%;
}
.contact__input--message {
  height: 175px;
  padding-top: 15px;
  resize: none;
}
.contact__input::placeholder {
  color: #181818;
}
.contact__input:focus {
  outline: green 2px solid;
}
.contact__button {
  font-family: Inconsolata;
  font-weight: 300;
  font-style: normal;
  font-size: medium;
  color: #c6d4d4;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background: none;
  /* the size on the corner */
  /* the thickness of the border */
  /* the gap between the border and image */
  padding: 12px;
  outline: 2px solid #ffffff; /* the color here */
  outline-offset: -2px;
  mask: conic-gradient(at 10px 10px, rgba(0, 0, 0, 0) 75%, #000 0) 0 0/calc(100% - 10px) calc(100% - 10px), linear-gradient(#000 0 0) content-box;
  transition: 0.4s;
}
.contact__button:hover,
.contact__button :focus {
  outline-offset: -6.6666666667px;
}

.mail {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 4;
  width: 45px;
  height: 45px;
  transition: 0.25s ease-in-out;
  animation: mail-animation 1s;
  animation-iteration-count: 1;
}
.mail__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #e11900, #e9bc29);
  background-size: 250%;
  background-position: left;
  border-radius: 50%;
  animation: mail-link-animation 2.5s infinite alternate;
}
.mail__icon {
  width: 30px;
  height: 30px;
}
.mail:hover {
  width: 50px;
  height: 50px;
}
.mail--hidden {
  display: none;
}

@keyframes mail-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mail-link-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
/* #endregion */
/* #region Footer */
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  padding-top: 4.75rem;
  border-bottom: #e11900 1px solid;
  padding-top: 0;
  border-bottom: none;
  gap: 5vh;
}
.footer__content--image {
  width: 150px;
  height: 150px;
}
.footer__content--text {
  font-family: Inconsolata;
  font-size: 1rem;
  text-align: center;
  color: #c6d4d4;
}

.footer__links--link {
  font-family: "Terminus (TTF)", monospace;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  color: #e9bc29;
}
.footer__links--span {
  user-select: none;
}

.footer__background {
  position: absolute;
  filter: brightness(0.5);
  height: 100vh;
  width: 100%;
  z-index: -5;
}
.footer__background--video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* #endregion */
/* #region Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 1.5s, visibility 1.5s;
}
.loader__image {
  opacity: 0;
  width: 30px;
  height: 30px;
  position: absolute;
}
.loader__image--active {
  opacity: 1;
}
.loader__content {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 55px;
  right: 55px;
}
.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

/* #endregion */
/*#region card*/
.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 290px;
  overflow: hidden;
  border-radius: 15px;
  background-image: linear-gradient(45deg, rgb(69, 94, 135) 0%, rgb(47, 134, 117) 50%, rgb(10, 175, 179) 100%);
  border: #4ff0f8 solid 1px;
  background-size: 250%;
  background-position: left;
  transition: background-position 0.25s ease-out;
}
.card:hover, .card:focus {
  background-position: right;
}
.card__image-container {
  width: 200px;
  height: 200px;
  padding: 10px;
}
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__header {
  font-family: "Terminus (TTF)";
  text-align: center;
  font-size: 1.25em;
  font-weight: 700;
}
.card__product-header {
  font-family: Inconsolata;
  margin-top: 5px;
  padding: 0px 5px;
  text-align: center;
  font-size: 1em;
  color: white;
}
.card__shop-button {
  margin-top: auto;
}

.parallax-card__effect-container {
  position: absolute;
  z-index: 1;
  /* the size on the corner */
  /* the thickness of the border */
  /* the gap between the border and image */
  padding: 6px;
  outline: 1px solid #ffffff; /* the color here */
  outline-offset: -1px;
  mask: conic-gradient(at 10px 10px, rgba(0, 0, 0, 0) 75%, #000 0) 0 0/calc(100% - 10px) calc(100% - 10px), linear-gradient(#000 0 0) content-box;
  transition: 0.25s;
}
.parallax-card__effect-container:hover,
.parallax-card__effect-container :focus {
  outline-offset: -5px;
}

/*#endregion*/
.carousel {
  width: 100%;
  height: fit-content;
  scroll-behavior: smooth;
}
.carousel__swapper-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}
.carousel__slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 1rem;
  overflow-x: hidden;
}
.carousel__video {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.carousel__slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.carousel__slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #c6d4d4;
  opacity: 0.75;
  transition: opacity ease 0.25s;
}
.carousel__slider-nav a:hover {
  opacity: 1;
}

/* Index.html */
.index--hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: fit-content;
  width: 100%;
  gap: 7.5vh;
  padding-top: 0;
  border-bottom: none;
}
.index--hero-pretitle {
  font-family: Inconsolata;
  font-size: 1em;
  text-align: center;
  padding: 0px 10px;
  color: #aaf9fa;
}
.index--hero-title {
  font-family: Inconsolata;
  font-size: 2.25em;
  font-weight: 900;
  text-align: center;
  text-shadow: red -1px 0, cyan 1px 0;
}
.index--hero-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-top: 0.125rem solid #e11900;
  border-bottom: 0.125rem solid #e11900;
  font-size: 1em;
  color: #e11900;
  text-transform: uppercase;
  width: 125px;
  height: 50px;
}
.index--news {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: black;
}
.index--news-header {
  font-family: Inconsolata;
  font-size: 0.9em;
  font-weight: 900;
  text-align: center;
  color: #e9bc29;
}
.index--feature {
  padding: 7.5rem 10px;
  row-gap: 7.5vh;
  justify-content: flex-start;
}
.index--feature-header {
  font-family: Inconsolata;
  font-size: 1.25em;
  font-weight: 900;
  text-align: center;
  color: #e9bc29;
}
.index--feature-columns {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  gap: 2.5rem;
}
.index--road {
  padding: 7.5rem 10px 5rem 10px;
  gap: 6vh;
  text-align: center;
  justify-content: flex-start;
  overflow-x: hidden;
}
.index--road-header {
  font-family: Inconsolata;
  font-size: 2em;
  font-weight: 900;
  color: #e9bc29;
}
.index--road-subheader {
  font-family: "Terminus (TTF)", monospace;
  font-weight: 500;
  font-size: 1.15em;
  color: #c6d4d4;
}
.index--road-column {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 0px 15px;
  gap: 2.5rem;
}
.index--requirements {
  padding: 7.5rem 10px 2rem 10px;
  gap: 7.5vh;
  text-align: center;
  justify-content: flex-start;
}
.index--requirements-header {
  font-family: Inconsolata;
  font-size: 1.5em;
  font-weight: 900;
  color: #e9bc29;
}
.index--requirements-subheader {
  font-family: "Terminus (TTF)", monospace;
  font-weight: 500;
  font-size: 1em;
  color: #c6d4d4;
}
.index--requirements-status {
  font-family: "Terminus (TTF)", monospace;
  font-weight: 500;
  font-size: 1.5em;
  color: #e11900;
}

.feature--card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 275px;
  height: 445px;
  padding: 5px;
  row-gap: 2rem;
}
.feature--card-container {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 250px;
}
.feature--card-image {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  align-self: flex-start;
}
.feature--card-header {
  font-family: "Terminus (TTF)", monospace;
  font-size: 1.15em;
  text-align: center;
  color: #4ff0f8;
}
.feature--card-explanation {
  font-size: 1em;
  text-align: center;
  color: #c6d4d4;
}

.road--card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 305px;
  row-gap: 2rem;
}
.road--card-container {
  width: 175px;
  height: 175px;
  /* the size on the corner */
  /* the thickness of the border */
  /* the gap between the border and image */
  padding: 12px;
  outline: 2px solid #ffffff; /* the color here */
  outline-offset: -2px;
  mask: conic-gradient(at 10px 10px, rgba(0, 0, 0, 0) 75%, #000 0) 0 0/calc(100% - 10px) calc(100% - 10px), linear-gradient(#000 0 0) content-box;
  transition: 0.25s;
}
.road--card-container:hover,
.road--card-container :focus {
  outline-offset: -10px;
}
.road--card-icon {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  pointer-events: none;
  background-color: black;
  transition: 0.5s ease-in-out;
}
.road--card-header {
  font-family: "Terminus (TTF)", monospace;
  text-align: center;
  font-size: 1.2em;
  color: #7de2d2;
}
.road--card-explanation {
  font-size: 1em;
  text-align: center;
  color: white;
}
.road--card-done:hover .road--card-icon {
  background-color: #07a0a7;
}
.road--card-undone:hover .road--card-icon {
  background-color: #e11900;
}

/* #region Game */
.story__card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  gap: 2rem;
}
.story__parallax-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 300px;
  background-image: linear-gradient(45deg, #242424, rgba(36, 36, 36, 0.5725490196), rgba(32, 32, 32, 0.5725490196));
}
.story__parallax-effect {
  width: 270px;
  height: 300px;
}
.story__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 270px;
  height: 300px;
  padding: 10px 10px;
}
.story__header {
  font-family: "Terminus (TTF)";
  font-weight: 900;
  font-size: 1.15em;
  color: #e9bc29;
  text-align: center;
}
.story__paragraph {
  font-family: Inconsolata;
  font-size: 1em;
  color: #c6d4d4;
  text-align: justify;
}

/* #endregion */
/* #region shop */
.shop__error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-image: linear-gradient(45deg, rgba(87, 46, 169, 0.4588235294), rgba(116, 89, 169, 0.4588235294), rgba(189, 177, 213, 0.4588235294));
  background-size: 250%;
  background-position: left;
  animation: bg-gradient-anim 5s infinite alternate;
  backdrop-filter: blur(50px);
  animation: shop-error-anim 5s infinite alternate;
}
.shop__error--hidden {
  display: none;
}
.shop__error-header {
  font-family: "Terminus (TTF)";
  font-size: 1.25em;
  text-align: center;
  color: #e9bc29;
  animation: fade-up 0.5s;
}
.shop__error-message {
  font-family: Inconsolata;
  font-size: medium;
  font-style: italic;
  text-align: center;
  color: #4ff0f8;
  animation: fade-up 0.5s;
}
.shop__error-button {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop__error-button-image {
  width: 100%;
  height: 100%;
  transition: 0.25s ease;
}
.shop__error-button-image:hover {
  width: 40px;
  height: 40px;
  filter: invert(55%) sepia(99%) saturate(439%) hue-rotate(351deg) brightness(100%) contrast(100%);
}
.shop__card-container {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  gap: 2.5rem;
  margin-bottom: 50px;
}
.shop__accordion-container {
  margin-top: 25px;
  margin-bottom: 50px;
  width: 90vw;
  height: fit-content;
  animation: fade-up 0.5s;
  animation-timeline: view();
  animation-range: entry 0%;
}

@keyframes shop-error-anim {
  0% {
    backdrop-filter: blur(125px);
  }
  50% {
    backdrop-filter: blur(75px);
  }
  100% {
    backdrop-filter: blur(50px);
  }
}
/* #endregion */
/* #region Media */
.media__image-container {
  width: 75vw;
  height: fit-content;
  border: 1px solid #c6d4d4;
}
.media__image {
  width: 100%;
  height: 100%;
}

/* #endregion */
.about-me__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}
.about-me__image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid #e9bc29;
}
.about-me__parallax-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me__parallax-effect {
  width: 270px;
  height: 400px;
}
.about-me__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 270px;
  height: 400px;
  padding: 10px 10px;
  background-image: linear-gradient(45deg, #242424, rgba(36, 36, 36, 0.5725490196), rgba(32, 32, 32, 0.5725490196));
}
.about-me__header {
  font-family: "Terminus (TTF)";
  font-weight: 900;
  font-size: 1.15em;
  color: #e9bc29;
  text-align: center;
}
.about-me__introduction {
  font-family: Inconsolata;
  font-size: 1em;
  color: #c6d4d4;
  text-align: justify;
}

.tech-stack__card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 0px 15px;
  gap: 1rem;
}

.projects__carousel-container {
  width: 100%;
  height: fit-content;
  padding: 0px 15px;
}
.projects__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 0px 15px;
  gap: 2rem;
}
.projects__text {
  font-family: Inconsolata;
  font-size: 1em;
  color: #c6d4d4;
  text-align: center;
  width: 100%;
  height: fit-content;
}

/* #region Media queries */
@media screen and (max-height: 425px) {
  .hamburger-menu__content {
    grid-template-areas: "hamburger_links hamburger_socials";
    grid-template-columns: 2fr 1fr;
  }
  .hamburger-menu__list-container--socials {
    align-self: center;
    margin: 0px;
  }
  .hamburger-menu__list--socials {
    flex-direction: column;
    gap: 25px;
  }
}
@media screen and (max-height: 360px) {
  .hamburger-menu__list-container {
    margin-top: 2.5px;
  }
  .hamburger-menu__list--socials {
    flex-direction: column;
    gap: 10px;
  }
  .hamburger-menu__list--links {
    gap: 2.5px;
  }
}
/* Mobile Small */
/* Mobile Medium */
/* Mobile Large */
/* Tablet */
/* Desktop-Transition */
@media screen and (min-width: 1024px) {
  /* #region NavBar */
  .navbar-menu__content {
    grid-template-areas: "links socials steam";
    grid-template-columns: 1fr auto auto;
  }
  .navbar-menu__button--hamburger {
    display: none;
  }
  .navbar-menu__button--steam {
    margin-right: 2rem;
  }
  .navbar-menu__list-container {
    display: flex;
  }
  .hamburger-menu {
    display: none;
  }
  /* #endregion */
}
/* Laptop */
/* Laptop Large */
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  /* #region Footer */
  .footer__content--image {
    width: 200px;
    height: 200px;
  }
  .footer__content--text {
    font-size: 1.25rem;
  }
  .footer__links--link {
    font-size: 1.25rem;
  }
  /* #endregion */
}
/* 4K*/
@media screen and (min-width: 2560px) {
  /* #region Footer */
  .footer__content {
    gap: 7.5%;
  }
  .footer__content--image {
    width: 350px;
    height: 350px;
  }
  .footer__content--text {
    font-size: 2.25rem;
  }
  .footer__links--link {
    font-size: 2.25rem;
  }
  /* #endregion */
}
/* #endregion */

/*# sourceMappingURL=style.css.map */
