/* #region container */
/* #endregion */
@keyframes bg-gradient-anim {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
/* #region Prefabs*/
.container--flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  padding-top: 4.75rem;
  border-bottom: #e11900 1px solid;
}

.container--flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  padding-top: 4.75rem;
  border-bottom: #e11900 1px solid;
}

.hero--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  padding-top: 4.75rem;
  border-bottom: #e11900 1px solid;
  overflow: hidden;
  gap: 2.5vh;
}
.hero--background {
  position: absolute;
  filter: brightness(0.75);
  height: 100vh;
  width: 100%;
  z-index: -5;
}
.hero--background-video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bg--grid-red {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(225, 26, 0, 0.1137254902) 1px, transparent 1px), linear-gradient(to bottom, rgba(225, 26, 0, 0.1137254902) 1px, transparent 1px);
}

.bg--grid-green {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(0, 225, 22, 0.1137254902) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 225, 22, 0.1137254902) 1px, transparent 1px);
}

.bg--grid-blue {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(0, 75, 225, 0.1137254902) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 75, 225, 0.1137254902) 1px, transparent 1px);
}

.bg--grid-yellow {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(225, 195, 0, 0.1137254902) 1px, transparent 1px), linear-gradient(to bottom, rgba(225, 195, 0, 0.1137254902) 1px, transparent 1px);
}

.bg--gradient-dark {
  background-image: linear-gradient(45deg, #181818, #242424, #303030);
  background-size: 250%;
  background-position: left;
  animation: bg-gradient-anim 5s infinite alternate;
}

.bg--gradient-light {
  background-image: linear-gradient(45deg, #572ea9, #7459a9, #bdb1d5);
  background-size: 250%;
  background-position: left;
  animation: bg-gradient-anim 5s infinite alternate;
}

/* #endregion */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  scroll-behavior: auto;
  -webkit-font-smoothing: antialiased;
}

div {
  display: block;
  unicode-bidi: isolate;
}

body {
  font-family: Inconsolata, "Ubuntu Mono", monospace;
  background-color: #181818;
  color: #c6d4d4;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* #region navbar */
.navbar__menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 4.75rem;
  width: 100vw;
  z-index: 5;
  align-content: center;
  backdrop-filter: blur(2.4px);
  background-color: rgba(0, 0, 0, 0.4);
}
.navbar__menu--hidden {
  display: none;
}

.navbar__content {
  display: grid;
  grid-template-areas: "hamburger get";
  grid-template-columns: repeat(2, auto);
  height: 4.75rem;
  width: 100vw;
  align-items: center;
}
.navbar__content--button {
  grid-area: hamburger;
  justify-self: flex-start;
  background: none;
  border: none;
  width: 4.75rem;
  height: 4.75rem;
  cursor: pointer;
}
.navbar__content--link {
  grid-area: get;
  align-self: center;
  justify-self: flex-end;
  margin-right: 1.25rem;
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.875rem 1.5rem;
  cursor: pointer;
  font-size: 1em;
  color: #e9bc29;
  border-left: 0.125rem solid;
  border-right: 0.125rem solid;
  background: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.navbar__content--icon-steam {
  fill: #e9bc29;
}

.navbar__button {
  display: flex;
  width: 4.75rem;
  height: 4.75rem;
  align-items: center;
  justify-content: center;
}
.navbar__button--icon {
  position: absolute;
  width: 30px;
  height: 30px;
}
.navbar__button--hidden {
  display: none;
}
.navbar__button :hover {
  filter: invert(55%) sepia(99%) saturate(439%) hue-rotate(351deg) brightness(100%) contrast(100%);
  width: 40px;
  height: 40px;
  transition: 0.2s;
}

.navbar__links {
  grid-area: links;
  display: none;
  align-items: center;
  height: 4.75rem;
  width: fit-content;
  margin-left: 2em;
}
.navbar__links--list {
  display: flex;
  flex-direction: row;
  gap: 2.5em;
  list-style: none;
}
.navbar__links--item {
  width: fit-content;
  height: fit-content;
}
.navbar__links--item :hover {
  color: #4ff0f8;
  transition: 0.2s;
}
.navbar__links--link {
  font-family: Inconsolata;
  font-size: x-large;
  text-decoration: none;
  color: #c6d4d4;
}
.navbar__links--link-current {
  color: #e9bc29;
}

.navbar__socials {
  grid-area: socials;
  display: none;
  height: fit-content;
  width: fit-content;
  margin: 0px 50px;
}
.navbar__socials--list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
}
.navbar__socials--item {
  width: 30px;
  height: 30px;
}
.navbar__socials--link {
  display: flex;
  text-decoration: none;
}
.navbar__socials--link-instagram :hover {
  fill: #ee2a7b;
  transition: 0.25s;
}
.navbar__socials--link-github :hover {
  fill: white;
  transition: 0.25s;
}
.navbar__socials--link-linkedin :hover {
  fill: #0e76a8;
  transition: 0.25s;
}
.navbar__socials--icon {
  fill: #c6d4d4;
}

.hamburger__menu {
  position: fixed;
  top: 4.75rem;
  height: 100%;
  width: 100vw;
  z-index: 6;
  overflow: hidden;
  border-top: #e11900 1px solid;
  backdrop-filter: blur(2.5px);
  background-color: rgba(0, 0, 0, 0.75);
}

.hamburger__content {
  display: grid;
  grid-template-areas: "hamburger_links" "hamburger_socials";
  grid-template-rows: 2fr 1fr;
  width: 100%;
  height: 100vh;
}

.hamburger__links {
  grid-area: hamburger_links;
  width: fit-content;
  height: fit-content;
  margin: 15px 0px;
}
.hamburger__links--list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  list-style: none;
}
.hamburger__links--item {
  width: fit-content;
  height: fit-content;
}
.hamburger__links--item :hover {
  color: #e11900;
  transition: 0.15s;
}

.hamburger__button {
  width: fit-content;
  height: fit-content;
  margin-left: 15px;
}
.hamburger__button--link {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
}
.hamburger__button--link-text {
  position: absolute;
  margin-left: 15px;
  font-family: Inconsolata;
  font-size: 1.75rem;
  text-decoration: none;
  text-align: center;
  color: #e9bc29;
}
.hamburger__button--link-current {
  color: #4ff0f8;
}
.hamburger__button--image {
  height: 45px;
  width: 20px;
}
.hamburger__button--image-center {
  width: 22.5px;
}
.hamburger__button--image-padding {
  width: 10px;
}

.hamburger__socials {
  grid-area: hamburger_socials;
  justify-self: center;
  width: fit-content;
  height: fit-content;
  margin-top: 15px;
}
.hamburger__socials--list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.hamburger__socials--item {
  width: 30px;
  height: 30px;
}
.hamburger__socials--link {
  display: flex;
}
.hamburger__socials--link-instagram :hover {
  fill: #ee2a7b;
  transition: 0.25s;
}
.hamburger__socials--link-github :hover {
  fill: white;
  transition: 0.25s;
}
.hamburger__socials--link-linkedin :hover {
  fill: #0e76a8;
  transition: 0.25s;
}
.hamburger__socials--icon {
  fill: #c6d4d4;
}

/* #endregion */
/* #region Contact */
.contact {
  padding: 7.5rem 10px 5rem 10px;
  row-gap: 8vh;
  justify-content: flex-start;
}
.contact--header {
  font-family: Inconsolata;
  font-size: 2em;
  font-weight: 900;
  color: #e9bc29;
}
.contact--container {
  width: fit-content;
  height: fit-content;
}
.contact--form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
}
.contact--input {
  font-family: "Ubuntu Mono";
  font-size: medium;
  width: 75vw;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  cursor: text;
  background-color: #c6d4d4;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(0, 225, 22, 0.1137254902) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 225, 22, 0.1137254902) 1px, transparent 1px);
  background-size: 15px 15px;
}
.contact--input-message {
  height: 175px;
  padding-top: 15px;
  resize: none;
}
.contact--input::placeholder {
  color: #000000;
}
.contact--input:focus {
  outline: green 2px solid;
}
.contact--button {
  font-family: "Ubuntu Mono";
  font-size: medium;
  color: #c6d4d4;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background: none;
  --s: 10px; /* the size on the corner */
  --t: 2px; /* the thickness of the border */
  --g: 10px; /* the gap between the border and image */
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid #ffffff; /* the color here */
  outline-offset: calc(-1 * var(--t));
  mask: conic-gradient(at var(--s) var(--s), rgba(0, 0, 0, 0) 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)), linear-gradient(#000 0 0) content-box;
  transition: 0.4s;
}
.contact--button:hover,
.contact--button :focus {
  outline-offset: calc(var(--g) / -1.5);
}

.mail {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 4;
  width: 45px;
  height: 45px;
  transition: 0.25s ease-in-out;
  animation: mail-animation 1s;
  animation-iteration-count: 1;
}
.mail--link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #e11900, #e9bc29);
  background-size: 250%;
  background-position: left;
  border-radius: 50%;
  animation: mail-link-animation 2.5s infinite alternate;
}
.mail--icon {
  width: 30px;
  height: 30px;
}
.mail:hover {
  width: 50px;
  height: 50px;
}
.mail--hidden {
  display: none;
}

@keyframes mail-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mail-link-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
/* #endregion */
/* #region Footer */
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  padding-top: 4.75rem;
  border-bottom: #e11900 1px solid;
  padding-top: 0;
  border-bottom: none;
  gap: 5vh;
}
.footer__content--image {
  width: 150px;
  height: 150px;
}
.footer__content--text {
  font-family: Inconsolata;
  font-size: 1rem;
  text-align: center;
  color: #c6d4d4;
}

.footer__links--link {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  color: #e9bc29;
}
.footer__links--span {
  user-select: none;
}

.footer__background {
  position: absolute;
  filter: brightness(0.5);
  height: 100vh;
  width: 100%;
  z-index: -5;
}
.footer__background--video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* #endregion */
/* #region Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 1.5s, visibility 1.5s;
}
.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader__content {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 55px;
  right: 55px;
}
.loader__content--image {
  opacity: 0;
  width: 30px;
  height: 30px;
  position: absolute;
}
.loader__content--image-active {
  opacity: 1;
}

/* #endregion */
/*#region card*/
.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 275px;
  overflow: hidden;
  border-radius: 15px;
  background-image: linear-gradient(90deg, #614385, #516395, #67abbc);
  border: #c6d4d4 solid 1px;
  background-size: 250%;
  background-position: left;
  transition: background-position 0.25s ease-out;
}
.card:hover, .card:focus {
  background-position: right;
}

/*#endregion*/
/* Index.html */
.index--hero {
  gap: 7.5vh;
  padding-top: 0;
  border-bottom: none;
}
.index--hero-pretitle {
  font-family: Inconsolata;
  font-size: 1em;
  text-align: center;
  padding: 0px 10px;
  color: #aaf9fa;
}
.index--hero-title {
  font-family: Inconsolata;
  font-size: 2.25em;
  font-weight: 900;
  text-align: center;
  text-shadow: red -1px 0, cyan 1px 0;
}
.index--hero-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-top: 0.125rem solid #e11900;
  border-bottom: 0.125rem solid #e11900;
  font-size: 1em;
  color: #e11900;
  text-transform: uppercase;
  width: 125px;
  height: 50px;
}
.index--news {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: black;
}
.index--news-header {
  font-family: Inconsolata;
  font-size: 0.9em;
  font-weight: 900;
  text-align: center;
  color: #e9bc29;
}
.index--feature {
  padding: 7.5rem 10px;
  row-gap: 7.5vh;
  justify-content: flex-start;
}
.index--feature-header {
  font-family: Inconsolata;
  font-size: 1.25em;
  font-weight: 900;
  text-align: center;
  color: #e9bc29;
}
.index--feature-columns {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 2.5rem;
  align-content: center;
}
.index--road {
  padding: 7.5rem 10px 2rem 10px;
  gap: 6vh;
  text-align: center;
  justify-content: flex-start;
}
.index--road-header {
  font-family: Inconsolata;
  font-size: 2em;
  font-weight: 900;
  color: #e9bc29;
}
.index--road-subheader {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1em;
  color: #c6d4d4;
}
.index--requirements {
  padding: 7.5rem 10px 2rem 10px;
  gap: 7.5vh;
  text-align: center;
  justify-content: flex-start;
}
.index--requirements-header {
  font-family: Inconsolata;
  font-size: 1.5em;
  font-weight: 900;
  color: #e9bc29;
}
.index--requirements-subheader {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1em;
  color: #c6d4d4;
}
.index--requirements-status {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.5em;
  color: #e11900;
}

.feature--card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 275px;
  padding: 5px;
  row-gap: 2rem;
}
.feature--card-container {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 250px;
}
.feature--card-image {
  width: 100%;
  height: 100%;
  border: 1px solid white;
}
.feature--card-header {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.15em;
  text-align: center;
  color: #4ff0f8;
}
.feature--card-explanation {
  font-size: 1em;
  text-align: center;
  color: #c6d4d4;
}

/* #region Media queries */
@media screen and (max-height: 425px) {
  .hamburger__content {
    grid-template-areas: "hamburger_links hamburger_socials";
    grid-template-columns: 2fr 1fr;
  }
  .hamburger__socials {
    align-self: center;
    margin: 0px;
  }
  .hamburger__socials--list {
    flex-direction: column;
    gap: 25px;
  }
}
@media screen and (max-height: 360px) {
  .hamburger__links {
    margin-top: 2.5px;
  }
  .hamburger__links--list {
    gap: 2.5px;
  }
  .hamburger__socials--list {
    flex-direction: column;
    gap: 10px;
  }
}
/* Mobile Small */
/* Mobile Medium */
/* Mobile Large */
/* Tablet */
/* Desktop-Transition */
@media screen and (min-width: 1024px) {
  /* #region NavBar */
  .navbar__content {
    grid-template-areas: "links socials get";
    grid-template-columns: 1fr auto auto;
  }
  .navbar__content--button {
    display: none;
  }
  .navbar__content--link {
    margin-right: 2rem;
  }
  .navbar__links {
    display: flex;
  }
  .navbar__socials {
    display: block;
  }
  .hamburger__menu {
    display: none;
  }
  /* #endregion */
}
/* Laptop */
/* Laptop Large */
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  /* #region Footer */
  .footer__content--image {
    width: 200px;
    height: 200px;
  }
  .footer__content--text {
    font-size: 1.25rem;
  }
  .footer__links--link {
    font-size: 1.25rem;
  }
  /* #endregion */
}
/* 4K*/
@media screen and (min-width: 2560px) {
  /* #region Footer */
  .footer__content {
    gap: 7.5%;
  }
  .footer__content--image {
    width: 350px;
    height: 350px;
  }
  .footer__content--text {
    font-size: 2.25rem;
  }
  .footer__links--link {
    font-size: 2.25rem;
  }
  /* #endregion */
}
/* #endregion */

/*# sourceMappingURL=style.css.map */
