/* Index.html */

.index
{

    &--hero
    {
        gap: 7.5vh;
        padding-top: 0;
        border-bottom: none;

        &-pretitle
        {
            font-family: Inconsolata;
            font-size: 1em;
            text-align: center;
            padding: 0px 10px;
            color: #aaf9fa;
        }

        &-title
        {
            font-family: Inconsolata;
            font-size: 2.25em;
            font-weight: 900;
            text-align: center;
            text-shadow: red -1px 0,
                        cyan 1px 0;
        }

        &-link
        {
            @include display-centered(inline-flex);
            text-align: center;
            
            background: rgba(0, 0, 0, .3);
            cursor: pointer;
            
            border-top: .125rem solid $color-red;
            border-bottom: .125rem solid $color-red;
    
            font-size: 1em;
            color: $color-red;
            text-transform: uppercase;
            width: 125px;
            height: 50px;
        }
    }


    &--news
    {
        @include display-centered(flex);
        height: 75px;
        width: 100%;
        background-color: black;

        &-header
        {
            font-family: Inconsolata;
            font-size: 0.9em;
            font-weight: 900;
            text-align: center;
            color: $color-yellow;
        }
    }


    &--feature
    {
        padding: 7.5rem 10px;
        row-gap: 7.5vh;


        &-header
        {
            font-family: Inconsolata;
            font-size: 1.25em;
            font-weight: 900;
            text-align: center;
            color: $color-yellow;
        }

        &-columns
        {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            row-gap: 2.5rem;
            align-content: center;
        }

    }

}