/* Index.html */

.index
{
    &--hero
    {
        @include hero(column, center, center);
        gap: 7.5vh;
        padding-top: 0;
        border-bottom: none;

        &-pretitle
        {
            font-family: Inconsolata;
            font-size: 1em;
            font-style: italic;
            text-align: center;
            padding: 0px 10px;
            color: #00ffb7;
            animation: fade-down 2s;
        }

        &-title
        {
            font-family: Terminus;
            font-size: 2.25em;
            font-weight: 900;
            text-align: center;
            text-shadow: red -1px 0,
                        cyan 1px 0;
            animation: fade-down 1.5s,
            glitch 3s infinite alternate-reverse;
        }

        &-link
        {
            @include display-centered(inline-flex);
            text-align: center;
            
            background: rgba(0, 0, 0, .3);
            cursor: pointer;
            
            border-top: .125rem solid $color-red;
            border-bottom: .125rem solid $color-red;
    
            font-size: 1em;
            color: $color-yellow;
            text-transform: uppercase;
            width: 125px;
            height: 50px;
            animation: fade-down 1s;
        }
    }

    &--news
    {
        @include display-centered(flex);
        height: 75px;
        width: 100%;
        background-color: black;

        &-header
        {
            font-family: Inconsolata;
            font-size: 0.9em;
            font-weight: 900;
            text-align: center;
            color: $color-yellow;
        }
    }

    &--feature
    {
        padding: 7.5rem 10px;
        row-gap: 7.5vh;
        justify-content: flex-start;
    }

    &--road
    {
        padding: 7.5rem 10px 5rem 10px;
        gap: 6vh;
        text-align: center;
        justify-content: flex-start;

        overflow-x: hidden;
    }
}

@keyframes glitch 
{
    0% 
    {
        text-shadow: red -2px 0,
        cyan 0px 0;
    }
    5% 
    {
        text-shadow: red -1px 1px,
        cyan 1px 0;
    }
    10% 
    {
        text-shadow: red 1px 0,
        cyan -2px 0;
    }
    15% 
    {
        text-shadow: red -3px 0,
        cyan -1px 0;
    }
    20% 
    {
        text-shadow: red -1px 0,
        cyan 1px 0;
    }
}