/* Index.html */

.index
{
    &--hero
    {
        @include hero(column, center, center);
        gap: 7.5vh;
        padding-top: 0;
        border-bottom: none;

        &-pretitle
        {
            font-family: Inconsolata;
            font-size: 1em;
            text-align: center;
            padding: 0px 10px;
            color: #aaf9fa;
        }

        &-title
        {
            font-family: Inconsolata;
            font-size: 2.25em;
            font-weight: 900;
            text-align: center;
            text-shadow: red -1px 0,
                        cyan 1px 0;
        }

        &-link
        {
            @include display-centered(inline-flex);
            text-align: center;
            
            background: rgba(0, 0, 0, .3);
            cursor: pointer;
            
            border-top: .125rem solid $color-red;
            border-bottom: .125rem solid $color-red;
    
            font-size: 1em;
            color: $color-red;
            text-transform: uppercase;
            width: 125px;
            height: 50px;
        }
    }

    &--news
    {
        @include display-centered(flex);
        height: 75px;
        width: 100%;
        background-color: black;

        &-header
        {
            font-family: Inconsolata;
            font-size: 0.9em;
            font-weight: 900;
            text-align: center;
            color: $color-yellow;
        }
    }

    &--feature
    {
        padding: 7.5rem 10px;
        row-gap: 7.5vh;
        justify-content: flex-start;

        &-header
        {
            font-family: Inconsolata;
            font-size: 1.25em;
            font-weight: 900;
            text-align: center;
            color: $color-yellow;
        }

        &-columns
        {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            row-gap: 2.5rem;
            align-content: center;
        }

    }

    &--road
    {
        padding: 7.5rem 10px 5rem 10px;
        gap: 6vh;
        text-align: center;
        justify-content: flex-start;

        overflow-x: hidden;

        &-header
        {
            font-family: Inconsolata;
            font-size: 2em;
            font-weight: 900;
            color: $color-yellow;
        }

        &-subheader
        {
            font-family: "Terminus (TTF)", monospace;
            font-weight: 500;
            font-size: 1.15em;
            color: $color-default;
        }

        &-column
        {
            margin-top: 25px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            row-gap: 5vh;
        }
    }

    &--requirements
    {
        padding: 7.5rem 10px 2rem 10px;
        gap: 7.5vh;
        text-align: center;
        justify-content: flex-start;

        &-header
        {
            font-family: Inconsolata;
            font-size: 1.5em;
            font-weight: 900;
            color: $color-yellow;
        }

        &-subheader
        {
            font-family: "Terminus (TTF)", monospace;
            font-weight: 500;
            font-size: 1em;
            color: $color-default;
        }

        &-status
        {
            font-family: "Terminus (TTF)", monospace;
            font-weight: 500;
            font-size: 1.5em;
            color: $color-red;
        }
    }

}

.feature--card
{
    @include display-centered(flex);
    flex-direction: column;
    width: 275px;
    padding: 5px;
    row-gap: 2rem;

    &-container
    {
        display: flex;
        justify-content: center;
        width: 250px;
        height: 250px;
    }

    &-image
    {
        width: 100%;
        height: 100%;
        border: 1px solid white;
    }

    &-header
    {
        font-family: "Terminus (TTF)", monospace;
        font-size: 1.15em;
        text-align: center;
        color: $color-cyan;
    }

    &-explanation
    {
        font-size: 1em;
        text-align: center;
        color: $color-default;
    }
}

.road--card
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 280px;
    row-gap: 2rem;

    &-container
    {
        width: 175px;
        height: 175px;

        $road-corner-size: 10px; /* the size on the corner */
        $road-corner-thickness: 2px;  /* the thickness of the border */
        $road-corner-gap: 10px; /* the gap between the border and image */
        
        padding: calc($road-corner-gap + $road-corner-thickness);
        outline: $road-corner-thickness solid #ffffff; /* the color here */
        outline-offset: calc(-1 * $road-corner-thickness);
        mask:
          conic-gradient(at $road-corner-size $road-corner-size,#0000 75%,#000 0)
          0 0/calc(100% - $road-corner-size) calc(100% - $road-corner-size),
          linear-gradient(#000 0 0) content-box;
        transition: .25s;

        &:hover,
        :focus
        {
            outline-offset: calc($road-corner-gap/-1);
        }
    }

    &-icon
    {
        width: 100%;
        height: 100%;
        border: 1px solid white;
        pointer-events: none;
        background-color: black;
        transition: .5s ease-in-out;
    }

    &-header
    {
        font-family: "Terminus (TTF)", monospace;
        text-align: center;
        font-size: 1.2em;
        color: #7de2d2;
    }

    &-explanation
    {
        font-size: 1em;
        text-align: center;
        color: white;
    }

    &-done
    {
        &:hover
        {
            .road--card-icon
            {
                background-color: darken($color-cyan, 30%);
            }
        }
    }

    &-undone
    {
        &:hover
        {
            .road--card-icon
            {
                background-color: $color-red;
            }
        }
    }
}