/* #region Media queries */

    // Navbar Hamburger Menu
    @media screen and (max-height: 425px)
    {
        .hamburger-menu
        {
            &__content
            {
                grid-template-areas: "hamburger_links hamburger_socials";
                grid-template-columns: 2fr 1fr;
            }

            &__list-container
            {
                &--socials
                {
                    align-self: center;
                    margin: 0px;
                }
            }

            &__list
            {
                &--socials
                {
                    flex-direction: column;
                    gap: 25px;
                }
            }
        }

        .index
        {
            &--hero-pretitle
            {
                padding-top: 50px;
            }
        }
    }

    @media screen and (max-height: 360px)
    {

        .hamburger-menu
        {
            &__list-container
            {
                margin-top: 2.5px;
            }

            &__list
            {
                &--socials
                {
                    flex-direction: column;
                    gap: 10px;
                }

                &--links
                {
                    gap: 2.5px;
                }
            }
        }

    }

    /* Tablet */    
    @media screen and (min-width: $tablet-h-breakpoint) and (max-width: ($desktop-sm-h-breakpoint - 1))
    {
        .about-me
        {
            &__parallax-effect
            {
                width: 400px;
                height: 350px;
            }

            &__text-container
            {
                padding: 15px 15px;
                gap: 30px;
                width: 400px;
                height: 350px;
            }
        }
    }

    /* Desktop-Transition */

    @media screen and (min-width: $desktop-sm-h-breakpoint)
    {
        .navbar-menu
        {
            &__content
            {
                grid-template-areas: "links socials steam";
                grid-template-columns: 1fr auto auto;
            }

            &__button
            {
                &--hamburger
                {
                    display: none;
                }

                &--steam
                {
                    margin-right: 2rem;
                }
            }

            &__list-container
            {
                display: flex;
            }
        }

        .hamburger-menu
        {
            display: none;
        }

        //Content
        .content
        {
            &__header
            {
                font-size: 2.25em;

                &--secondary
                {
                    font-size: 1.75em;
                }
            }

            &__subheader
            {
                font-size: 1.30em;
            }
        }
        
        //Index
        .index
        {
            &--hero
            {
                gap: 75px;

                &-pretitle
                {
                    font-size: 1.5vw;
                }
    
                &-title
                {
                    font-size: 3.75vw;
                }
    
                &-link
                {
                    width: 130px;
                    height: 50px;
                    font-size: 1em;
                }
            }

        }

        // About Me
        .about-me
        {
            margin-top: 35px;
            margin-bottom: 100px;
            flex-direction: row;
            gap: 10%;

            &__image
            {
                width: 300px;
                height: 300px;
            }

            &__parallax-effect
            {
                width: 450px;
                height: 400px;
            }

            &__text-container
            {
                padding: 15px 15px;
                gap: 30px;
                width: 450px;
                height: 400px;
            }

            &__header
            {
                font-size: 1.35em;
            }

            &__introduction
            {
                font-size: 1.15em;
            }
        }

    }

    /* Laptop Large */
    @media screen and (min-width: $desktop-md-h-breakpoint) and (max-width: ($desktop-lg-h-breakpoint - 1))
    {
        // About Me
        .about-me
        {
            &__image
            {
                width: 400px;
                height: 400px;
            }

            &__parallax-effect
            {
                width: 500px;
                height: 500px;
            }

            &__text-container
            {
                width: 500px;
                height: 500px;
            }

            &__header
            {
                font-size: 2em;
            }

            &__introduction
            {
                font-size: 1.5em;
            }
        }

        // Footer
        .footer
        {
            &__image
            {
                width: 200px;
                height: 200px;
            }

            &__text
            {
                font-size: 1.25rem;
            }

            &__link
            {
                font-size: 1.25rem;
            }
        }
    }

    /* 4K*/
    @media screen and (min-width: $desktop-lg-h-breakpoint)
    {
        // Footer
        .footer
        {
            &__content
            {
                gap: 7.5vh;
            }

            &__image
            {
                width: 350px;
                height: 350px;
            }

            &__text
            {
                font-size: 2.25rem;
            }

            &__link
            {
                font-size: 2.25rem;
            }
        }
        
    }
    
/* #endregion */
