// Content
.content 
{
    justify-content: flex-start;
    gap: 5vh;

    &__header-container
    {
        width: fit-content;
        height: fit-content;
        margin-top: 50px;
        margin-bottom: 25px;

        @include display-centered(flex);
        flex-direction: column;

        gap: 55px;
    }

    &__header
    {
        font-family: Terminus;
        font-weight: 900;
        font-size: 2em;
        text-align: center;
        color: $color-yellow;

        &--secondary
        {
            font-size: 1.5em;
            padding: 0 15px;
        }

        &--tertiary
        {
            font-size: 1.4em;
        }
    }

    &__subheader
    {
        font-family: Inconsolata;
        font-size: 1.15em;
        padding: 0 15px;
        font-weight: 500;
        text-align: center;
        color: $color-default;
    }

    &__content-container
    {
        @include display-centered(flex);
        flex-direction: column;
        width: 100%;
        height: fit-content;
        gap: 3rem;
        margin-bottom: 50px;
        padding: 0 5px;
    }

    &__columns-container
    {
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        gap: 2.5rem;
    }

    &__status-text
    {
        font-family: Inconsolata;
        font-size: 1.5em;
        color: $color-red;
        text-align: center;
        height: fit-content;
        font-style: normal;
    }
}