/* #region Contact */

.contact
{
    padding: 4.75rem 10px 5rem 10px;
    row-gap: 8vh;
    justify-content: flex-start;

    &__container
    {
        width: fit-content;
        height: fit-content;
    }

    &__form
    {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.5rem;
    }

    &__input
    {
        font-family: Inconsolata;
        font-size: medium;
        width: 75vw;
        height: 50px;
        border: none;
        border-radius: 5px;
        padding: 0 10px;
        cursor: text;

        background-color: $color-default;

        @include bg-grid(green);
        background-size: 15px 15px;

        animation: appear-in linear;
        animation-timeline: view();
        animation-range: entry 0%;

        &--message
        {
            height: 175px;
            padding-top: 15px;
            resize: none;
        }

        &::placeholder
        {
            color: $color-shadow;
        }

        &:focus
        {
            outline: green 2px solid;
        }
    }

    &__button
    {
        font-family: Inconsolata;
        font-weight: 300;
        font-style: normal;
        font-size: medium;
        color: $color-default;
        border: none;
        @include display-centered(flex);
        gap: 5px;
        cursor: pointer;
        background: none;

        $form-corner-size: 10px; /* the size on the corner */
        $form-corner-thickness: 2px;  /* the thickness of the border */
        $form-corner-gap: 10px; /* the gap between the border and image */
        
        padding: calc($form-corner-gap + $form-corner-thickness);
        outline: $form-corner-thickness solid #ffffff; /* the color here */
        outline-offset: calc(-1 * $form-corner-thickness);
        mask:
          conic-gradient(at $form-corner-size $form-corner-size,#0000 75%,#000 0)
          0 0/calc(100% - $form-corner-size) calc(100% - $form-corner-size),
          linear-gradient(#000 0 0) content-box;
        transition: .4s;

        &:hover,
        :focus
        {
            outline-offset: calc($form-corner-gap/-1.5);
        }
    }

}

.mail
{
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 4;
    width: 45px;
    height: 45px;

    transition: .25s ease-in-out;
    animation: fade-up 2s;
    animation-iteration-count: 1;

    &__link
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        background-image: linear-gradient(45deg, $color-red, $color-yellow);
        background-size: 250%;
        background-position: left;
        border-radius: 50%;
        animation: bg-gradient-anim 2.5s infinite alternate;
    }

    &__icon
    {
        width: 30px;
        height: 30px;
    }

    &:hover
    {
        width: 50px;
        height: 50px;
    }

    &--hidden
    {
        display: none;
    }
}

/* #endregion */