/* #region Footer */

.footer
{
    &__content
    {
        @include container-flex(column, center, center);
        padding-top: 0;
        border-bottom: none;
        gap: 5vh;
    }

    &__text
    {
        font-family: Inconsolata;
        font-size: 1rem;
        text-align: center;
        color: $color-default;
    }

    &__image
    {
        width: 150px;
        height: 150px;
    }

    &__link
    {
        font-family: Terminus;
        font-weight: 400;
        font-size: 1rem;
        text-align: center;
        color: $color-yellow;
    }
}

/* #endregion */