//Hero

.hero
{
    @include hero(column, flex-start, flex-start);
    padding-top: 0;
    overflow: hidden;

    &--content
    {
        display: flex;
        flex-direction: column;
        gap: 2.5vh;
        width: 100%;
        height: fit-content;
        padding: 0px 15px;

        &-header
        {
            font-family: Terminus;
            font-size: 2.75em;
            font-weight: 700;
            color: $color-yellow;
            width: fit-content;
            animation: fade-in 1s;
        }

        &-subheader
        {
            font-family: Inconsolata;
            font-size: 1em;
            font-style: italic;
            color: $color-default;
            width: fit-content;
            animation: translate-in 1s;
        }


        &::after
        {
            --page-line-length: 270px;
            border: none;
            content: "";
            width: var(--page-line-length);
            height: 5px;
            background-color: $color-yellow;
            animation: line-stretch .5s;
        }

    }

    &--current
    {
        margin-top: calc($nav-height + 5vh);
        display: flex;
        width: fit-content;
        height: fit-content;

        &-game
        {
            --page-title-length: 12;
        }
        &-shop
        {
            --page-title-length: 8;
        }
        &-media
        {
            --page-title-length: 9;
        }
        &-about
        {
            --page-title-length: 9;
        }

        &-text
        {
            font-family: Terminus;
            font-size: 1em;
            font-weight: 50;
            white-space: nowrap;
            text-transform: uppercase;
            overflow: hidden;
            width: 100%;
            color: $color-cyan;
    
            border-right: 2px solid;

            animation: typing .5s steps(var(--page-title-length)),
            blink .4s step-end infinite alternate; 
        }
    }
    
}

@keyframes line-stretch
{
    from
    {
        width: 0;
    }
    to
    {
        width: var(--page-line-length);
    }
}

/* cursor blink */
@keyframes blink
{
    50% {border-color: transparent}
}

/* typing */
@keyframes typing
{
    from {width: 0}
}