/* #region Loader */

.loader
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;  

    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, .5);
    transition: opacity 1.5s, visibility 1.5s;

    &__image
    {
        position: absolute;
        width: 30px;
        height: 30px;
        opacity: 0;

        &--active
        {
            opacity: 1;
        }

    }

    &__content
    {
        @include display-centered(flex);
    
        position: fixed;
        bottom: 75px;
        right: 45px;
        z-index: 6;
        width: 30px;
        height: 30px;

    }

    &--hidden
    {
        opacity: 0;
        visibility: hidden;
    }
}

/* #endregion */