
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
}

html
{
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

div
{
    display: block;
    unicode-bidi: isolate
}

@font-face {
    font-family: "Terminus (TTF)";
    src: url(../fonts/Terminus.ttf) format("truetype");
    font-display: swap;
}

body
{
    font-family: Inconsolata, "Terminus (TTF)";
    background-color: $color-shadow;
    color: $color-default;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
    scroll-behavior: smooth;
}

:root
{
    --page-title-length: 0;
    --page-line-length: 0;
}