
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
}

html
{
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

div
{
    display: block;
    unicode-bidi: isolate
}

@font-face {
    font-family: Terminus;
    src: url(../fonts/Terminus.woff) format('woff'), /* modern browsers */
         url(../fonts/Terminus.ttf) format('truetype')
         url(../fonts/terminus.ttf) format("truetype"); /* Safari, Android, iOS */;
}

body
{
    font-family: Inconsolata, Terminus;
    background-color: $color-shadow;
    color: $color-default;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
    scroll-behavior: smooth;
}

:root
{
    --page-title-length: 0;
    --page-line-length: 0;
}