
//Colors Palette
$color-default: #c6d4d4;
$color-yellow: #e9bc29;
$color-red: #e11900;
$color-shadow: #181818;
$color-cyan: #4ff0f8;

//Background Colors (Container)

//Grid color
$bg-color-green: #00e1161d;
$bg-color-yellow: #e1c3001d;
$bg-color-red: #e11a001d;
$bg-color-blue: #004be11d;

//Gradient
$bg-gradient-dark: linear-gradient(45deg, $color-shadow, #242424, #303030);
$bg-gradient-light: linear-gradient(45deg, #572ea9, #7459a9, #bdb1d5);

//Card
$card-bg-gradient: linear-gradient(90deg, #614385, #516395, #67abbc);

//Breakpoints Horizontal
$mobile-md-h-breakpoint: 375px;
$mobile-lg-h-breakpoint: 425px;
$tablet-h-breakpoint: 768px;
$desktop-sm-h-breakpoint: 1024px;
$desktop-md-h-breakpoint: 1440px;
$desktop-lg-h-breakpoint: 2560px;

//Navbar
$nav-height: 4.75rem;
