
//Colors Palette
$color-default: #c6d4d4;
$color-yellow: #e9bc29;
$color-red: #e11900;
$color-shadow: #181818;
$color-cyan: #4ff0f8;


//Breakpoints Horizontal
$mobile-md-h-breakpoint: 375px;
$mobile-lg-h-breakpoint: 425px;
$tablet-h-breakpoint: 768px;
$desktop-sm-h-breakpoint: 1024px;
$desktop-md-h-breakpoint: 1440px;
$desktop-lg-h-breakpoint: 2560px;

//navbar
$nav-height: 4.75rem;